section {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

section h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.spotlight-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    position: relative;
    height: 400px;
    border-radius: 8px; 
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    cursor: pointer;
    background-color: #000;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    opacity: 0.9;
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,1), transparent);
    color: white;
    padding: 20px;
    transform: translateY(60%);
    transition: transform 0.4s ease;
}

.card-title {
    color: #ffffff;
    margin-bottom: 8px;
    text-shadow: #1a1a1a;
}

.card-desc {
    font-size: 0.9rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card:hover img { transform: scale(1.05); opacity: 0.6; }
.card:hover .card-content { transform: translateY(0); }
.card:hover .card-desc { opacity: 1; }

.info-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
}

.info-card {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.info-card img {
    max-width: 350px; 
    width: 100%;    
    height: auto;
    border-radius: 10px; 
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.info-card h2 {
    color: #1a1a1a;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.about-summary p {
    margin-bottom: 25px;
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

.areas-lista {
    list-style: none;
    padding: 0;
    width: 100%;
}

.areas-lista li {
    font-size: 1.1rem;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    color: #333;
    word-break: break-all;
}

.areas-lista li:last-child {
    border-bottom: none;
}

.areas-lista a {
    color: #1a1a1a;
    text-decoration: none;
    font-weight: bold;
}

.btn-saiba-mais {
    display: inline-block;
    background-color: #1a1a1a;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: background 0.3s, transform 0.2s;
}

.btn-saiba-mais:hover {
    background-color: #444;
    transform: translateY(-3px);
}